.GenericButton{
    border-radius: 1.5em;
    color: white;
    background-color: #0b132f;
    border: 2px solid white;
    height: 3em;
    padding-left: 2em;
    padding-right: 2em;
    
}

.GenericButton:hover {
    background-color: #0023e0;
    transform: scale(1.05);
}