.accountBtn {
    background: #3f75b6;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.accountContainer {
    margin-bottom: 20px;
}

.accountInfo {
    background: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

.accountInfoText {
    font-size: 0.9em;
    padding: 10px 0;
    color: #333;
}