body {
  font-family: Helvetica, Arial, sans-serif;
  background: linear-gradient(135deg, #ff99cc, #c3ecf7, #a1c4fd, #0099ff, #4b6cb7, #ff7e5f);
  background-size: 400% 400%;
  animation: waveGradient 10s ease-in-out infinite;
}


@keyframes waveGradient {
  0% {
    background-position: 0 50%;
  }
  25% {
    background-position: 50% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

:root {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}