body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.toolbar {
    background: #333;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 18px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: relative;
}

.dropdownWrapper {
    margin-left: auto;
}

.mainContent {
    flex-grow: 1;
    padding: 20px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
}

/* Zeug von der Sidebar */

/*.left {*/
/*    left: -250px;*/
/*}*/

/*.right {*/
/*    right: -250px;*/
/*}*/

/*.open {*/
/*    transform: translateX(250px);*/
/*}*/

/*.close-btn {*/
/*    position: absolute;*/
/*    top: 10px;*/
/*    right: 10px;*/
/*    background: none;*/
/*    border: none;*/
/*    color: white;*/
/*    font-size: 20px;*/
/*    cursor: pointer;*/
/*}*/

/*.close-btn:hover {*/
/*    color: #ff4d4d;*/
/*}*/

/*.left.open {*/
/*    left: 0;*/
/*}*/
/*.right.open {*/
/*    right: 0;*/
/*}*/


/*.toggle-btn {*/
/*    background: #007bff;*/
/*    color: white;*/
/*    border: none;*/
/*    padding: 10px 15px;*/
/*    cursor: pointer;*/
/*    font-size: 18px;*/
/*    border-radius: 5px;*/
/*    position: absolute;*/
/*    top: 10px;*/
/*    left: 10px;*/
/*}*/

/*.toggle-btn:hover {*/
/*    background: #0056b3;*/
/*}*/

/*.sidebar {*/
/*    width: 250px;*/
/*    background: #222;*/
/*    color: white;*/
/*    padding: 20px;*/
/*    position: fixed;*/
/*    top: 0;*/
/*    bottom: 0;*/
/*    transition: transform 0.3s ease;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: space-between;*/
/*}*/