body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #A7C8FF, #A0D7FF);
    background-size: 400% 400%;
    margin: 0;
    padding: 20px;
}

.settings-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 10px;
}

/* right side */
.settings-container {
    display: flex;
    width: 80%;
    background: #fff;
    box-shadow: 2px 5px 20px rgba(119, 119, 119, 0.5);
    padding: 20px;
    border-radius: 8px;
}

.leftbox {
    width: 20%;
    background: #A7C8FF;
    padding: 20px;
    box-shadow: 3px 3px 10px rgba(119, 119, 119, 0.5);
}

.leftbox nav {
    flex-direction: column;
}

.leftbox nav a {
    align-items: left;
    padding: 10px;
    color: white;
    font-size: 1.1em;
    transition: all 0.3s ease-in-out;
    text-decoration: none;
    cursor: pointer;
    margin-right: auto;
}

.leftbox nav a:hover {
    color: #3f75b6;
    transform: scale(1.1);
}

.active {
    color: #3f75b6;
    font-weight: bold;
}

.language-switch {
    margin-top: 20px;
}

.language-btn {
    padding: 10px;
    background: #ddd;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.language-btn:hover {
    background: #3f75b6;
    color: white;
}

.rightbox {
    width: 80%;
    padding: 20px;
    text-align: left;
}

h1, h2 {
    color: #3f75b6;
}

h2 {
    font-size: 1em;
    margin-top: 10px;
}

.rightbox p {
    font-size: 0.9em;
    padding: 10px 0;
    color: #333;
}

.account-container {
    margin-bottom: 20px;
}

.account-btn {
    background: #3f75b6;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.account-info {
    background: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

